:root {
  --desktopMaxWidth: 1728px;
  --containerMargin: 6rem;

  --black: #000;
  --blackBlue: #011521;
  --textDark: #1a293a;
  --blue1: #27547d;
  --blue2: #447aaa;
  --lightGrey: #b2b2b2;
  --white: #fff;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("../assets/fonts/League Spartan/LeagueSpartan-Regular.ttf");
}

@font-face {
  font-family: "LeagueSpartanBold";
  src: url("../assets/fonts/League Spartan/LeagueSpartan-Bold.ttf");
}

@font-face {
  font-family: "TT Travels DemiBold";
  src: url("../assets/fonts/TT Travels/TT Travels Trial DemiBold.otf");
}

@font-face {
  font-family: "TT Travels";
  src: url("../assets/fonts/TT Travels/TT Travels Trial Regular.otf");
}

@font-face {
  font-family: "TT Travels Medium";
  src: url("../assets/fonts/TT Travels/TT Travels Trial Medium.otf");
}

@font-face {
  font-family: "TT Travels Light";
  src: url("../assets/fonts/TT Travels/TT Travels Trial Light.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "TT Travels";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue2);
}

::-webkit-scrollbar-track {
  background-color: var(--blue1);
}

.title {
  text-align: center;
  font-family: "LeagueSpartan";
  color: var(--textDark);
  font-size: 48px;
  font-weight: 700;
}

.title-light {
  color: var(--white);
}

.text {
  color: var(--textDark);
  font-size: 16px;
}

.text-light {
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--textDark);
}

.page {
  position: relative;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
    0.2turn,
    var(--blackBlue) 0%,
    var(--blackBlue) 1%,
    var(--blue1) 100%,
    var(--blue1)
  );
  padding-top: 1rem;
  .site-header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    background: rgb(178, 178, 178, 0.35);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    box-shadow: 4px 8px 14px rgba($color: #000000, $alpha: 0.25);
    position: fixed;
    z-index: 9999999;
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: var(--desktopMaxWidth);
      padding-right: var(--containerMargin);
      padding-left: var(--containerMargin);
      align-items: center;
      gap: 30px;
      .logo {
        max-width: 215px;
        width: 100%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .navigation {
        display: flex;
        gap: 63px;
        .nav-item {
          color: var(--white);
          text-decoration: none;
          &::after {
            transition: all 0.3s ease;
            display: block;
            content: "";
            width: 0px;
            height: 1px;
            background: var(--white);
          }
          &:hover {
            &::after {
              transition: all 0.4s ease;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .site-main {
    padding-top: 85px;
  }
  .site-footer {
    margin-top: 85px;
    width: 100%;
    background: url(../assets/images/svg/val.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 55px;
    .footer-wrapper {
      max-width: var(--desktopMaxWidth);
      width: 100%;
      padding: 60px var(--containerMargin);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;
      .links {
        display: flex;
        align-items: center;
        gap: 30px;
        .logo {
          max-width: 416px;
          width: 100%;
        }
        .bar {
          height: 160px;
          width: 1px;
          background: var(--textDark);
        }
        .socials {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .list-item {
            a {
              text-decoration: none;
              color: var(--textDark);
            }
          }
        }
      }
      .contacts {
        .title {
          font-size: 32px;
        }
        .list {
          color: var(--textDark);
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 5px;
          .list-item {
            .contact {
              &:first-child {
                margin-top: -24px;
              }
              display: block;
              padding-left: 105px;
            }
          }
        }
      }
    }
  }
}

.page-scrolled {
  padding-top: 0;
  transition: all 0.2s ease-in-out;
  .site-header {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}

.main-page {
  .hero {
    margin-top: 55px;
    .content-wrapper {
      max-width: var(--desktopMaxWidth);
      padding: 0 var(--containerMargin);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: center;
      .info-block {
        max-width: 610px;
        .title {
          font-family: "LeagueSpartanBold";
          font-size: 110px;
          text-align: left;
          min-width: 510px;
        }
        .text {
          max-width: 460px;
          .line {
            display: block;
          }
        }
        .buttons {
          margin-top: 45px;
          display: flex;
          gap: 22px;
          a {
            padding: 20px 30px;
            border: 1px solid var(--blue2);
            border-radius: 16px;
          }
          .btn-register {
            background: var(--blue2);
          }
        }
      }
      .image {
        user-select: none;
        max-width: 545px;
        width: 100%;
        height: auto;
        img {
          object-fit: cover;
        }
      }
    }
  }
  .container-companies-slider {
    user-select: none;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    background: rgb(178, 178, 178, 0.35);
    box-shadow: 4px 8px 14px rgba($color: #000000, $alpha: 0.25);
    margin-top: 55px;
    .content-wrapper {
      display: flex;
      margin: 0 auto;
      padding: 30px;
      max-width: calc(var(--desktopMaxWidth) - (var(--containerMargin) * 2));
      align-items: center;
      overflow: hidden;
      position: relative;
      .track {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        animation: scroll 40s 0.5s linear infinite;
        .logo {
          .img-company {
            min-width: 166px;
            max-width: 166px;
            height: auto;
          }
        }
        @keyframes scroll {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(calc(-286px * 8));
          }
        }
      }
    }
  }
  .container-scroll-down {
    .scoll-down {
      user-select: none;
      display: flex;
      justify-content: center;
      margin-top: 60px;
      margin-bottom: 90px;
      img {
        cursor: pointer;
        animation: jump 2s 0.5s linear infinite;
      }
    }
    @keyframes jump {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(+10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
  .container-why-us {
    position: relative;
    margin-top: 115px;
    width: 100%;
    background: url(../assets/images/svg/bgWhyUs.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 45px;
    .content-wrapper {
      max-width: var(--desktopMaxWidth);
      width: 100%;
      padding: 60px var(--containerMargin);
      margin: 0 auto;
      .title {
        margin-top: 50px;
      }
      .block-cards {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 30px;
        .swiper-wrapper {
          margin: 0 auto;
          display: flex;
          align-items: center;
          .card {
            height: 100%;
            user-select: none;
            box-shadow: 4px 8px 14px rgba($color: #000000, $alpha: 0.25);
            margin-top: 40px;
            position: relative;
            max-width: 950px;
            width: 100%;
            background: var(--blue2);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 65px 40px;
            padding-bottom: 30px;
            border-radius: 16px;
            .text {
              font-size: 24px;
              text-align: center;
            }
            .icon {
              border-radius: 100%;
              user-select: none;
              height: 70px;
              width: 70px;
              top: -40px;
              left: 50%;
              transform: translate(-50%);
              position: absolute;
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          margin-top: 0px;
          border: 3px solid var(--blue2);
          border-radius: 100%;
          height: 40px;
          width: 40px;
          background: #e9f4ff;
          &::after {
            font-size: 20px;
            font-weight: 900;
            font-style: bold;
            height: auto;
            color: var(--blue2);
          }
        }
      }
      .block-info {
        margin-top: 170px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
        .image {
          user-select: none;
          min-width: 40%;
        }
        .info {
          width: 100%;
          .text {
            margin-top: 20px;
            text-align: justify;
          }
          .list-title {
            font-size: 20px;
            line-height: 20px;
          }
          .list {
            margin-top: 15px;
            padding-left: 20px;
            list-style-type: none;
            li {
              display: flex;
              gap: 20px;
              align-items: center;
              &:before {
                content: "";
                min-width: 7px;
                height: 7px;
                border-radius: 100%;
                background: var(--textDark);
              }
            }
          }
        }
      }
    }
  }
  .container-agenda {
    margin-bottom: 100px;
    .content-wrapper {
      max-width: var(--desktopMaxWidth);
      padding: 0 var(--containerMargin);
      margin: 0 auto;
      .title {
        margin-top: 50px;
      }
      .table {
        width: 100%;
        margin-top: 68px;
        border-radius: 16px;
        .row {
          display: flex;
          border-bottom: 1px solid var(--blue2);
          &:last-child {
            border-bottom: none;
          }
          .th,
          .td {
            text-align: center;
            width: 100%;
            &:first-child {
              width: 40%;
            }
            &:last-child {
              text-align: left;
            }
            .line {
              display: block;
            }
            .line-list {
              padding-left: 20px;
            }
          }
          .th {
            font-size: 24px;
            padding: 25px 20px;
          }
          .td {
            padding: 15px 20px;
          }
        }
        .thead {
          background: var(--blue2);
          border-radius: 16px 16px 0 0;
        }
        .tbody {
          background: var(--blue1);
          border-radius: 0 0 16px 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --containerMargin: 3rem;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --containerMargin: 1rem;
  }

  .page {
    .site-footer {
      .footer-wrapper {
        flex-direction: column;
        gap: 50px;
      }
    }
  }

  .main-page {
    .hero {
      .content-wrapper {
        .info-block {
          .title {
            font-size: 80px;
            min-width: 400px;
          }
          .buttons {
            flex-direction: column;
            a {
              text-align: center;
            }
          }
        }
      }
    }
    .container-why-us {
      .content-wrapper {
        .block-info {
          margin-top: 50px;
          flex-direction: column-reverse;
          .image {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0;
    .site-header {
      .header-wrapper {
        .navigation {
          display: none;
        }
      }
    }
  }

  .main-page {
    .hero {
      .content-wrapper {
        flex-direction: column-reverse;
        .info-block {
          .title {
            font-size: 48px;
            min-width: 250px;
          }
        }
        .image {
          max-width: 400px;
        }
      }
    }
    .container-companies {
      .content-wrapper {
        padding: 0;
      }
    }
    .container-agenda {
      .content-wrapper {
        .table {
          .row {
            flex-direction: column;
            .td,
            .th {
              width: 100%;
              text-align: center;
              .line-list {
                padding-left: 0;
              }
              &:first-child {
                width: 100%;
                padding-bottom: 0;
                font-weight: 700;
              }
              &:last-child {
                padding-top: 10px;
                text-align: center;
              }
            }
            .th {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .page {
    .site-footer {
      .footer-wrapper {
        .links {
          flex-direction: column;
          .logo {
            max-width: 215px;
          }
          .bar {
            display: none;
          }
        }
      }
    }
  }
}
